.explore {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 158px;
}

.explore .images {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 46px;
}

.explore .item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32%;
}

.explore .item::before {
  content: "";
  display: block;
  width: 3.4vw;
  height: 3.4vw;
  background-color: #ffffff;
  position: absolute;
  min-width: 40px;
  min-height: 40px;
}

.explore .item::after {
  content: "";
  border: 11px solid transparent;
  border-top-width: 7px;
  border-bottom-width: 7px;
  border-left-color: #f96241;
  position: absolute;
  transform: translateX(25%);
}

.explore .photo {
  width: 100%;
}

.explore .description {
  width: 540px;
}

.explore .button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ef8e70;
  width: 160px;
  height: 50px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 4px;
}

@media (max-width: 800px) {
  .explore {
    margin-bottom: 80px;
  }

  .explore .images {
    margin-bottom: 25px;
  }

  .explore .description {
    width: 100%;
    margin-bottom: 20px;
  }

  .explore .button {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 350px) {
  .explore .images {
    flex-direction: column;
  }

  .explore .item {
    width: 100%;
    margin-bottom: 20px;
  }

  .explore .item::before {
    width: 65px;
    height: 65px;
  }
}
