.explore {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 158px;
}

.explore .images {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 46px;
}

.explore .item {
  width: 32%;
}

.explore .photo {
  width: 100%;
}

.explore .description {
  width: 540px;
}

.explore .button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ef8e70;
  width: 160px;
  height: 50px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 4px;
}

@media (max-width: 800px) {
  .explore {
    margin-bottom: 80px;
  }

  .explore .images {
    margin-bottom: 25px;
  }

  .explore .description {
    width: 100%;
    margin-bottom: 20px;
  }

  .explore .button {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 350px) {
  .explore .images {
    flex-direction: column;
  }

  .explore .item {
    width: 100%;
    margin-bottom: 20px;
  }
}
