header {
  max-width: 1110px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4vh;
  text-align: center;
}

.logo {
  float: left;
}

.icon {
  display: inline-block;
}

.menu {
  float: right;
}
