header {
  max-width: 1110px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4vh;
  text-align: justify;
}

.logo,
.icon,
.menu {
  display: inline-block;
}

header::after {
  content: "";
  display: inline-block;
  width: 100%;
}

p {
  text-align: justify;
}
