header {
  display: flex;
  justify-content: space-between;
  max-width: 1110px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4vh;
}

.menu {
  position: relative;
  width: 34px;
  height: 14px;
}

.menu span {
  display: block;
  text-indent: -9999px;
}

.menu::before,
.menu::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #222;
}

.menu::after {
  right: 0;
  bottom: 0;
  transform-origin: right center;
  transform: scaleX(0.42);
}
